.text{
    padding-left: 430px;
    font-size: 17px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    
    background-color: rgb(31, 29, 29);
    color: rgb(250, 250, 250);
    margin-top: 1px;
    padding-top: 20px;
    padding-bottom: 28px;
    
    width: 590px;
    height: 825px;
    
}
#about{
    font-size: 55px;
}
.text2{
    padding-left: 300px;
    margin-top: -430px;
}
#Introduction{
    color: rgb(56, 102, 63);
}
.fas{
    color:  rgb(56, 102, 63);
}
#img{
    margin-right: 200px;
}
#images{
    height: 12px;
    width: 40px;
    padding-left: 50px;
    padding-top: 5px;
    margin-top: 10px;   
}
#icons1{
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    width: 90px;
    padding-left: 10px;
    margin-top: 80px;
    margin-bottom: -95px;  

}
#icons2{
    padding-left: 20px;
    margin-top: 300px;
    margin-bottom: -430px;   
}
#icons3{
    padding-left: 20px;
    /* padding-top: 1px; */
    margin-top: 750px;
    margin-bottom: -875px;
}
#name{
    padding: auto;
    
    
    margin: 0 auto;
    position: absolute;
    /* top: 70%; */
    width: 35%;
    text-align: center;
    color:black
    /* letter-spacing: 0.3mm; */
        
    
}
#Dev{
    color:  rgb(56, 102, 63);
    
}

#myname{
    font-size: 35px;
}

